.banner__imagem {
    background-image: url('../../img/banner.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 72px);/*vai desconsiderar a altura do header e ocupar de fato 100 da viewport*/
    width: 100%;
}

@media screen and (min-width: 0) {
    .banner__imagem {
        height: calc(100vh - 51px);
    }
}

@media screen and (min-width: 768px) {
    .banner__imagem {
        height: calc(100vh - 72px); /*vai desconsiderar a altura do header e ocupar de fato 100 da viewport*/
    }
}