@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
/*font-family: 'Roboto', sans-serif;*/

.sobre__descricao {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: #595959;
}

@media screen and (min-width: 0) {
    .sobre__descricao {
        font-size: 1.3rem;
    }
}

@media screen and (min-width: 768px) {
    .sobre__descricao {
        font-size: 1.75rem;
    }
}